body {
    background-color: var(--clr-grey-soft);
    color: var(--clr-grey-dark);
}

ul {
    padding-left: var(--gap-md);
}

a {
    text-decoration: none;
    color: inherit;
}

.cover {
    height: 720px;
    background-position-y: bottom;
    background-size: cover;
}

.illustration {
    width: 100%;
    height: 720px;
    object-fit: cover;
    object-position: bottom;
}

.hero {
    color: var(--clr-grey-soft);
    background-image: url("../assets/hero.webp");
    padding-top: calc(var(--header-height) + var(--gap-xl));
}

.hero p{
    max-width: var(--width-md);
}

.btn.call-to-action {
    --btn-idle-fill: var(--clr-orange);
}

.divider {
    width: 80px;
    height: 4px;
    background-color: var(--clr-orange);
    border: none;
}

.about-section {
    display: grid;
    grid-template-areas: "image text";
    grid-template-columns: min-content 1fr;
    grid-template-rows: auto;
    gap: var(--gap-md);
}

.about-section img {
    grid-area: image;
    aspect-ratio: 1 / 1;
    max-width: 320px;
    object-fit: cover;
}

.about-section .divider {
    grid-area: text;
    align-self: end;
    justify-self: end;
}

.about-section .about-description {
    grid-area: text;
    columns: 2;
    gap: var(--gap-md);
}

.arrangements-list {
    --icon-size: 40px;
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap-lg);
    text-align: center;
}

.arrangements-list .grid-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

